/* CSS Document */
/* Elements */
body {
  font-family: 'Montserrat';
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
/*Containers*/
.container-fluid {
  padding: 5% 10%;
}
#navigation .container-fluid {
  padding: 1.5% 10%;
}
#title .container-fluid{
	padding: 3% 10%;
}
#footer .container-fluid{
	padding: 2.5% 10%;
}
/*Sections - Colours & Headings */
.dark-section {
  background-color: #141414;
  color: #ffffff;
}
.dark-section p {
  color: #ffffff;
}
.light-section {
  background-color: #D3F2F8;
  color: #141414;
}
.light-section p {
  color: #141414;
}
.colored-section {
  background-color: #010235;
  color: #D3F2F8;
}
.colored-section p {
  color: #ffffff;
}
.section-heading {
  padding: 15px 0 50px;
  font-size: 2.5rem;
}
/*Input Validity*/
input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}
input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}
/*Navigation Bar Section*/
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 15px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}
/*Title Section*/
.title-heading {
  text-align: left;
  padding-top: 20%;
  font-size: 3.5rem;
}
/*Intro Section*/
.intro-text {
  width: 60%;
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.8;
}
/*Income Section*/
.income-text {
  color: #ffffff;
  text-align: left;
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.8;
}
.income-text img {
	width: 20%;
	float: right;
}
.income-text input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0.1em solid #ffffff;
  border-radius: 5px;
  background-color: #010235;
  color: #ffffff;
  height: 30px;
  width: 120px;
  margin-left: 10px;
  padding-left: 10px;
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #D3F2F8;
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #ffffff;
  border-radius: 5px;
  margin: 0 5px -2px;
}
input[type="radio"]:hover {
  background-color: #010235;
}
input[type="radio"]:active {
  background-color: #00B4D8;
}
input[type="radio"]:checked {
  background-color: #00B4D8;
}
.textbox-question {
  margin-right: 20px;
}
.radio-question {
  display: inline;
  margin-right: 20px;
}
.radio-buttons-container {
  display: inline;
}
.income-btn {
  margin: 50px 0 20px;
}
/*Expenses Section*/
.expenses-text {
  text-align: right;
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.8;
}
.expenses-text img {
	width: 20%;
	float: left;
}
.expenses-text input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0.1em solid #141414;
  border-radius: 5px;
  background-color: #D3F2F8;
  color: #141414;
  height: 30px;
  width: 120px;
  margin-left: 10px;
  padding-left: 10px;
}
.expenses-btn {
  margin: 50px 0 20px;
}
/*Planner Section*/
/*Savings Sub Section*/
.planner-text {
  color: #ffffff;
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.8;
}
.planner-text input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0.1em solid #ffffff;
  border-radius: 5px;
  background-color: #141414;
  color: #ffffff;
  height: 30px;
  width: 120px;
  margin-left: 10px;
  padding-left: 10px;
}
.savings-btn {
  margin: 30px 0 20px;
}
.planner-table {
  margin: 50px auto;
  border-collapse: collapse;
  
}
.planner-table th {
  color: #ffffff;
  background-color: #141414;
  border-bottom: thin solid #ffffff;
  font-weight: 400;
  font-size: 1.2rem;	
}
.planner-table td {
  background-color: #141414;
  text-align: center;
  width: 15rem;
  padding: 15px 10px 0;
}
.planner-table input[type="text"], .planner-table input[type="number"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: solid 3px #ffffff;
  background-color: #141414;
  color: #ffffff;
  height: 45px;
	text-align: center;
}
/*Investments Sub Section*/
.investments-text {
  margin: auto;
  font-size: 1.15rem;
  line-height: 1.8;
}
.investments-btn {
  margin: 50px 0 20px;
}
.investments-funds{
  margin: 50px auto;	
}

/*Footer*/
.footer-icon {
  margin: 20px 10px;
}

/*Media Quieries*/

/*For Javascript Functionality*/

.fixed {
	position: fixed;
	background-color: #141414;
}

.no-initial-display {
	display: none;
}

